<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @await Component.InvokeAsync("profileheader")
        @await Component.InvokeAsync("profilecontainer") 
    </body>
</html>