<nav class="navbar is-mobile is-fixed-top">
  <div class="navbar-brand">
       <a href="@Url.Action("login","List")"><img src="@Url.Content("~/Contents/img/7fotograf-logo.png")" /></a>
  </div>
  <div class="navbar-end is-mobile">
         <h1 class="login-info"></h1>
     </div>
  </div>
</nav>