<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="100" />
    </head>
    <body>
        @await Component.InvokeAsync("listheader")
        @await Component.InvokeAsync("listcontainer")
    </body>
</html>