@model List<FacebookLogin>
<nav class="navbar is-mobile is-fixed-top">
  <div class="navbar-brand">
       <a href="@Url.Action("login","List")"><img src="@Url.Content("~/Contents/img/7fotograf-logo.png")" /></a>
  </div>
  <div class="navbar-end is-mobile">
     @foreach (var item in Model)
     {
         <h1 class="login-info">@item.UserName</h1>
     }
     </div>
     <a id="upload" href="#">Fotoğraf Yükle</a>
  </div>
</nav>
@await Component.InvokeAsync("listmodal")